/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */


/* Backgrounds */
#container, html.embed {
    background-color: transparent;
}
html{background-image:none;background-color:none}
#logo{background-image:none;background-color:none}
#container{background:none}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#FFF7C0}
.wufoo .instruct{background-color:#F5F5F5}

/* Borders */
form.wufoo {
  margin-left: 0px;

/* Typography */
 form.wufoo {
   font-family: poppins, sans-serif; }

/* Buttons */
form.wufoo input[type=submit] {
background-color: #3998F8;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
transition: .5s ease-in-out; }

form.wufoo input[type=submit]:hover {
background-color: #f3b221; 
