/* Backgrounds */
#container, html.embed {
    background-color: transparent;
}

/* Buttons */

form.wufoo input[type=submit] {
background-color: #3998F8;
color: white;
padding: 14px 10px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
transition: .5s ease-in-out; }

form.wufoo input[type=submit]:hover {
background-color: #f3b221; }


/* Font - doesn't work! */
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>
.wufoo .info h2{font-size:200%;font-family:Poppins;color:#000000}
.wufoo .info div{font-size:100%;font-family:Poppins;color:#440000}
.wufoo .section h3{font-size:130%;font-family:Poppins;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:100%;font-family:Poppins;color:#440000}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:Poppins;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:Poppins;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:Poppins;color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:Poppins;color:#444444
